<table class="table">
  <thead>
    <tr>
      <th scope="col">ФИО</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |row|}}
    <tr {{action "clickRow" row.primarykey}}>
      <td>{{row.fio}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>